<html>

<head>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>Bienvenue sur mon premier site web fait avec nodejs</h1>
    <p>Je m'appelle {{ name }}</p>
    <p>Role: {{ role }}</p>
    <script src="/js/main.js"></script>
</body>

</html>